window {
  margin: 0px;
  border: 2px solid #88c0d0;
  background-color: #2e3440;
  font-family: monospace;
  font-size: 20px;
}

#input {
  margin: 5px;
  border: none;
  color: #d8dee9;
  background-color: #3b4252;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  will-changemargin: 5px;
  border: none;
  color: #d8dee9;
}

#entry:selected {
  background-color: #3b4252;
}
